*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main-bg-color:#220c4a;
  --secondary-bg-color:#ff7cd4;
}
nav{
  height: 60px;
  padding: 12px;
  margin-bottom:9px ;
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  background-color:var(--main-bg-color);
  color:var(--secondary-bg-color);
}
nav h3{
  font-weight: 600;
}
nav ul{
  /* margin: unset; */
  display: inline-flex;

}
nav ul li{
  list-style: none;
  padding-left: 25px;
}

.footer{
  display: flex;
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100vw;
  background-color:var(--main-bg-color);
  color:var(--secondary-bg-color);
  justify-content:center ;
  align-items: center;
}
a {
    /* padding: 4px 8px; */
    background-color:var(--main-bg-color);
    color:var(--secondary-bg-color);
    text-decoration: none;
    /* border: 1px solid var(--secondary-bg-color); */
    /* border-radius:16px  ; */

  }
/* a:hover{
  color:var(--secondary-bg-color);
  font-weight: bold; */
  /* border: 2px solid ; */
  /* outline:0;/* outline:0; removes the border in the button */
  /* } */

 /* .active {
  font-weight: bold;
  border: 2.5px solid var(--secondary-bg-color);
  border-radius: 8px;
  padding: 5px;
} */

input{
  position: absolute;
  top: 18px;
  left: 685px;
  width: 368px;
  height: 27px;

}

.search-list{
  position: absolute;
  top: 61px;
  left: 685px;
  width: 368px;
  display: flex;
  background-color: var(--main-bg-color);
  flex-direction: column;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.71);
  z-index: 10;
  
}
.fade-in{
  opacity: 1;
  transition: opacity 150ms ease-in;
  animation: updown 200ms ease-in  1  ; 
}
.fade-out{
  opacity: 0;
  pointer-events: none;
  transition: opacity 350ms ease-out;
  animation: downup 200ms ease-out  1  ; 
}
@keyframes updown {
    0%{
      transform: translateY(-13px);
    }
    60%{
      transform: translateY(-5px);
    }
    99%{
      transform: translateY(0px);
    }

}
@keyframes downup {
  0%{
    transform: translateY(0px);
  }
  60%{
    transform: translateY(-9px);
  }
  99%{
    transform: translateY(-15px);
    
  }

}

.search-list-child{
  font-size: 15px;
  padding: 4px 19px;
}
.search-list-child:hover{
  background-color: #3f003a;
  color: aliceblue;
  text-shadow: 1px 1px 4px pink;
}
.suggestion{
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(65, 0, 58, 0.96);
  height: auto;
  width: 368px;
  font-size: 12px;
  z-index: 10;
}

.suggestion-child{
  background-color: #a64c87;
  color: #f8f8f8;
  padding: 3px;
  height: 25px;
  margin: 8.7px;
  border-radius: 8px;
  border: 1px #8a8a8a solid;
}

.suggestion-child:hover{
  /* font-weight: 600;  */
  text-shadow: 0px 0px 2px #f8f8f8;
  border: 1px #c4c4c4 solid;
}
i#search-icon{
  position: absolute;
  left: 1030px;
  top: 24px;
}
i a{
  background-color:unset;
}

.container{
  max-width: 61vw;
  margin: auto;
}

